{# Message Template: `welcome.twig` #}
<section class="message">
        {# <pre>
        	<code>{{ welcome_page | print_r }}</code>
        </pre> #}
        <h2>{{ welcome_page.title }}</h2>
        <p>{{ welcome_page.content }}</p>
</section>
